---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import RankingTable from '../components/RankingTable.astro';
import ContenidoSEO from '../components/ContenidoSEO.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <RankingTable />
    <ContenidoSEO />
  </main>
  <Footer />
</Layout>
